
      <div class="request">
  	<div class="container-fluid">
  		<div class="row request">
		<div class="col-md-4 col-sm-12">
			<h1>Register as a Employee</h1>
				<p>Registering as a  staff Registering as a  staff Registering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staff</p>
		</div>
		<div class="col-md-4 col-sm-12">
			<h1>Register as a Employee</h1>
				<p>Registering as a  staff Registering as a  staff Registering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staff</p>
		
		</div>
		<div class="col-md-4 col-sm-12">
			<h1>Register as a Employee</h1>
				<p>Registering as a  staff Registering as a  staff Registering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staffRegistering as a  staff</p>

		</div> 
		</div>
	</div>
</div>