<!-- Title group  -->
<mat-card>
<div class="title-group">
    <h3 class="mat-h1">
    <a routerLink="/Admin">Dashboard > </a>
     <strong>Manage Suppliers </strong> 
    </h3>
    <mat-divider></mat-divider>
</div>
  
  
  <p *ngIf="StaffData.length <= 0" class="no-data">There is no Staff yet added yet!</p>
  
  <div class="container-fluid" *ngIf="StaffData.length > 0">
    <div class="mat-elevation-z8">
      
        <span *ngIf="loading" ><mat-progress-bar mode="indeterminate"></mat-progress-bar></span>

        
      <div class="table-head">
        <mat-form-field class="search-form-field" floatLabel="never">
          
          <input matInput [(ngModel)]="searchKey" placeholder="Search? Start Typing..." autocomplete="off" (keyup)="applyFilter()">
          <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
          </button>
          
        </mat-form-field>
        
      <table id="myData" mat-table [dataSource]="dataSource">

  
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
          </ng-container>
  
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Staff Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} &nbsp;   {{element.lastName}} </td>
        </ng-container>
        
          <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef> Line Product</th>
            <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
          </ng-container>
          
          <ng-container matColumnDef="itemCategory">
            <th mat-header-cell *matHeaderCellDef> Line Categeory </th>
            <td mat-cell *matCellDef="let element"> {{element.itemCategory}} </td>
          </ng-container>
          
          <ng-container matColumnDef="itemQuantity">
            <th mat-header-cell *matHeaderCellDef> Supply Quantity</th>
            <td mat-cell *matCellDef="let element"><span class="">{{element.itemQuantity}}</span> </td>
          </ng-container>
          
          
          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef> Unit Price </th>
            <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
          </ng-container>


          <ng-container matColumnDef="requestStatus">
            <th mat-header-cell *matHeaderCellDef> Supply Status </th>
            <td mat-cell *matCellDef="let element"> Verified </td>
          </ng-container>
          
          
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Registration Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
          </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element; let i = index;"> 
            <button mat-raised-button color="primary" class="push-right actionButton"
              [routerLink]="['/Admin/information/supplier/', element.id]"><mat-icon>launch</mat-icon></button>
            <button mat-raised-button color="accent" (click)="deleteStaff(i, element)" class="actionButton"><mat-icon>delete_outline</mat-icon></button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <h3><span>Export data as:<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span></span></h3>
<button class="exportButton" mat-raised-button color="primary" (click)="exportAs('pdf', 'portrait')">  <mat-icon>picture_as_pdf</mat-icon>Pdf</button>
<button class="exportButton" mat-raised-button color="accent" (click)="exportAs('png')"><mat-icon>perm_media</mat-icon>png</button>
<button class="exportButton" mat-raised-button color="success" (click)="exportAs('csv')">csv</button>
<button class="exportButton" mat-raised-button color="primary" (click)="exportAs('xlsx')">Ms-Excel</button>
<button class="exportButton" mat-raised-button color="primary" (click)="exportAs('txt')">MS-Word</button>
<button class="exportButton" mat-raised-button color="green" (click)="exportAs('json')">json</button>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
</mat-card>
  
