

  .content{
    padding: 5px !important;
    margin: 5px !important;
    height: 97% !important;
    width: 87% !important;
    margin-bottom: 5px !important;
  }
  .title-group{
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  h3{
    font-family: Aerial;
    font-size: 12px;
    color: green;
}

.form{
    width: 60% !important;
    margin: auto !important;
    margin-top: 5% !important;

}
mat-form-field{
    width: 100%;
}