<!-- Title group  -->
<div class="">
    <mat-card>
    <div class="title-group">
        <h3 class="mat-h1">
         <strong>Register Now</strong> 
       </h3>
        <mat-divider></mat-divider>
    </div>
    <div class="container">
        <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 mt-5">
    
        <div class="loginImage">
        <img src="../../../../assets/Images/loginImage.png" class="
        img-responsive">
      </div><!--end of header-->
        <div class="infoSection">
        Remember all logins credentials attempts are recorded for security scanning, analysis and intepretation.Any form of physing, 
                hacking shall be recorded and you may be subjected to law.<br>
                Avoid Trials
                <br>
                Regards <strong>Procurement Group</strong>
            
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 mt-5 ">
        
        <div class="card mat-elevation-z8">
            
            <div class="card-header">
                <div class="">
                    <span><h1>Thank You. </h1></span>

                    <span><h3>Your Registration has been successfull. </h3></span>
                  </div>
    
            </div>
            <div class="card-body">
                <div class="alert alert-danger mt-3 mb-0">
                   <h2><b>Activation Required!</b></h2>
                   <p>For you to access the Dashboard, 
                       PLease, Logon to your email & click the 
                       confirmation Link to activate your Account.</p>
    
                   </div>
            </div>
            
            
        </div>
    </div>
    </div>
    </div>
    </mat-card>
      </div>