:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer-container{
  height: 100%;
  background-color: rgb(214, 214, 255);;
}
mat-drawer-content{
  font-size: 12px !important;
  width: 100% !important;
  background-color: rgb(214, 214, 255);;
}
   mat-drawer{
  width: 200px !important;
  font-size:8px !important;
  scroll-behavior: hidden !important;
}

.profile-card{
  text-align: center;
  padding: 5px;

}
.profile-card img{
  width: 100px;
  height:100px;
  object-fit: cover;
  border-radius: 100%;
}
mat-card
{
  margin: 5px;
  margin-top: 5px;
  padding: 5px;
}

.search mat-form-field{
  width: 300px;
}
app-footer{
  width: 100%;
}
router-outlet{
  zoom: 100;
}


