mat-card{
    width: 50%;
    margin: auto;
    margin-top: 5%;
}
mat-form-field{
    width: 90%;
}
button{
    float: right;
    margin: 20px;
    
   
}
mat-raised-button{
    padding: 10px;
}
.formControlName{
	color: blue !important;
}