<!-- Title group  -->
<mat-card>
<div class="title-group">
    <h3 class="mat-h1">
    <a routerLink="/Admin">Dashboard > </a>
     <strong>Manage Store</strong> 
    </h3>
    <mat-divider></mat-divider>
</div>
  
  
  
  <div class="container-fluid" >

            <div class="row">
          <div class="col-md-2 col-sm-12 categories">
            <h4> 
      <mat-icon>menu</mat-icon>Categories</h4>


      <h2><b>All Categories</b></h2>
            <ol>

                 <li *ngFor="let category of categories">

                  <p *ngIf="category.length <= 0" class="no-data">There is no New users yet added yet!</p>

          <a routerLinkActive="list-item-active" [routerLink]="['/Admin/categorised/items_data/', category._id]">
                  {{ category.categoryName }}
                </a>

                </li>

            </ol>

              <button  class="addCategory" color="accent"  mat-raised-button (click)="addCategory()" >
            <mat-icon>add</mat-icon>New Category
          </button>
          </div>


          <div class="col-md-10 col-sm-12">

    <div class="tableData mat-elevation-z8">
      
        <span *ngIf="loading" ><mat-progress-bar mode="indeterminate"></mat-progress-bar></span>



          <!-- Table entrance -->

      <div class="table-head">
        <button  class="tb-head-button" color="primary"  mat-raised-button (click)="addCategory()" >
          <mat-icon>add</mat-icon>New Category
        </button>


        <button  class="tb-head-button" color="default"  mat-raised-button (click)="selectCategory()" >
          <mat-icon>add</mat-icon>New Items
        </button>


        <a routerLink="/Admin/manage_categories">
        <button class="tb-head-button" color="accent" mat-raised-button>
          Manage Categories
        </button> </a>

        <mat-form-field class="search-form-field" floatLabel="never">
          
          <input matInput [(ngModel)]="searchKey" placeholder="Search? Start Typing..." autocomplete="off" (keyup)="applyFilter()">
          <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
          </button>
          
        </mat-form-field>

      <table id="myData" mat-table [dataSource]="dataSource">

   
        
          <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef> Item Identity</th>
            <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
          </ng-container>
          
          <ng-container matColumnDef="itemQuantity">
            <th mat-header-cell *matHeaderCellDef> Item Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.itemQuantity}} </td>
          </ng-container>
          
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> <span class="{{element.Status}}">{{element.Status}}</span>  </td>
          </ng-container>
          
          
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Deleivered On </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef>Updated On </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedAt}} </td>
          </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <button mat-raised-button color="accent" (click)="deleteRequest(i, element)" class="actionButton"><mat-icon>delete_outline</mat-icon></button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <h3><span>Export data as:<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span></span></h3>
<button class="exportButton" mat-raised-button color="primary" (click)="exportAs('pdf', 'portrait')">  <mat-icon>picture_as_pdf</mat-icon>Pdf</button>
<button class="exportButton" mat-raised-button color="accent" (click)="exportAs('png')"><mat-icon>perm_media</mat-icon>png</button>
<button class="exportButton" mat-raised-button color="success" (click)="exportAs('csv')">csv</button>
<button class="exportButton" mat-raised-button color="primary" (click)="exportAs('xlsx')">Ms-Excel</button>
<button class="exportButton" mat-raised-button color="primary" (click)="exportAs('txt')">MS-Word</button>
<button class="exportButton" mat-raised-button color="green" (click)="exportAs('json')">json</button>

  
      <mat-paginator [pageSizeOptions]="[24,40, 100]" showFirstLastButtons></mat-paginator>
    </div>
        </div>
        </div>
    <!-- Table ending -->
  </div>
</div>
</mat-card>
  
