mat-card{
  padding: 5px !important;
  margin: 5px !important;
  height: 98% !important;
  width: 89% !important;
  margin-bottom: 5px !important;
}
  .title-group{
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-family: Aerial;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: green;

  }
  h3{
    font-family: Aerial;
    font-size: 12px;
    color: green;
}
.categories{
  height: 535px;
  margin: 0px !important;
  padding: 0px !important;
  overflow-y: scroll;
  background-color: skyblue;
  border-radius: 8px;
}
.categories h4{
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  text-align: center;
}
.categories li{
  padding: 5px;
  margin: 0px !important;
  border-bottom: solid white 1px;
  width: 100%;
}
.categories a{
  color: white;
}
  table{
    width: 100%;
    padding: 5px;
  }
  th{
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  color: blue;

  }
  .New{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    width: 40px !important;
    background-color: deeppink;
    border-radius: 50px;
    color: white;
    font-weight: 600;
  }
   .Seen{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    width: 40px !important;
    background-color: lightblue;
    border-radius: 50px;
    color: white;
    font-weight: 600;
  }
   .Low{
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    width: 40px !important;
    background-color: red;
    border-radius: 20px;
    color: white;
    font-weight: 600;
  }
  mat-icon{
    font-size: 16px !important;
    width: 16px !important;
  }

/*  .actionButton{
      width: 40px!important;
      min-width: unset!important;
      padding: auto;
      margin: 2px;
      text-align: center;
}*/

.search-form-field{
  color: blue !important;
  font-weight: 300 !important;
}

.actionButton {
    width: 50px!important;
    min-width: unset!important;
    height: 25px;
    line-height: 25px;
    padding: auto;
    margin: 2px;

    .mat-icon {
      font-size: 25px;
      width: 25px;
      height: 25px;
      line-height: 25px;
    }
  }

  .actionButtonProcure {
    width: 100px!important;
    min-width: unset!important;
    height: 25px;
    line-height: 25px;
    padding: auto;
    margin: 2px;
    font-size: 14px;

    .mat-icon {
      font-size: 25px;
      width: 25px;
      height: 25px;
      line-height: 25px;
    }
  }

  td{
  font-size: 10px;
}

  .container-fluid{
      margin: 0px;
  }
  
  .table-head{
    background-color: white;
  }
  .table-head button{
    float: left;
  }
 mat-form-field {
    float: right;
  }
  mat-raised-button{
    padding: 0px !important;
  }
  .tb-head-button{
    min-width: unset!important;
    height: 25px;
    line-height:1px;
    margin: 5px;
    font-size: 10px;
    font-family: monospace;

    .mat-icon {
      font-size: 25px;
      width: 25px;
      height: 25px;
      line-height: 25px;
    }

  }
 .exportButton{
    width: 80px!important;
    min-width: unset!important;
    height: 25px;
    line-height:1px;
    margin: 5px;
    font-size: 10px;
    font-family: monospace;

    .mat-icon {
      font-size: 25px;
      width: 25px;
      height: 25px;
      line-height: 25px;
    }
  }


form{
    padding: 10px;
    border: solid black 1px;
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    width: 50%;
    height: 80%;
    margin-top: 3% !important;
}
.formSection{
    margin: auto !important;
  
}
mat-form-field{
    margin: 5px;
    padding: 5px;
    color: black;
    width: 90%;
    
}
button{
    float: right;
    margin: 5px;
   
}
mat-raised-button{
    padding: 10px;

}
