<mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Procurement Logo</span>
  
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <form class="example-form">
  
        <mat-form-field appearance="standard">
          <mat-label>Search Anything...</mat-label>
          <input matInput placeholder="Start typing...">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Need Help? Ask me.</mat-hint>
        </mat-form-field>
  
  
      </form>
    </div>
  
  
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
  
  
  
  
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person_outline</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Configure All Controlls here</span>
        </button>
  
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
  
        </mat-menu>
    </div>
  
    <mat-icon>help_outline</mat-icon>
  
  
  
  
  
  </mat-toolbar>
  