

    <mat-nav-list>
        <div class="profile-card">
          <img src="../../../../assets/Images/user-avatar.jpg">
          <div class="header">
            <h2>Username</h2>
            <h4>user@gmail.com</h4>
          </div>
        </div><!--end of header-->
        <mat-divider></mat-divider>
        <h2 matSubheader>Pages</h2>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/Staff">
          <mat-icon>dashboard</mat-icon>
          Dashboard</a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/Staff/makeRequest">Make Request</a>
           <a mat-list-item routerLinkActive="list-item-active" routerLink="/Staff/submitedRequest">
           Submited Requests</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/Staff/approvedRequest">Approved Requests</a>
             <a mat-list-item routerLinkActive="list-item-active" routerLink="/Staff/rejectedRequest">Rejected Requests</a>
    
        <mat-divider></mat-divider>
  
  
  
  
      </mat-nav-list>
  
  
  