<mat-card>
	<h1><strong>Tender Category:</strong> ICT Assets </h1><br>
	<h3><strong>Tender Name:</strong> Computer CPU</h3>
	<P><STRONG>Description:</STRONG>Should be deleivered in good condition</P>
	<small class="pull-left"><strong>Posted on:</strong>12/12/2020</small>
	<small class="pull-right"><strong>updated on:</strong>12/12/2020</small>
	
</mat-card>

<mat-card>
	<h1><strong>Tender Category:</strong> ICT Assets </h1><br>
	<h3><strong>Tender Name:</strong> Computer CPU</h3>
	<P><STRONG>Description:</STRONG>Should be deleivered in good condition</P>
	<small class="pull-left"><strong>Posted on:</strong>12/12/2020</small>
	<small class="pull-right"><strong>updated on:</strong>12/12/2020</small>
	
</mat-card>
<mat-card>
	<h1><strong>Tender Category:</strong> ICT Assets </h1><br>
	<h3><strong>Tender Name:</strong> Computer CPU</h3>
	<P><STRONG>Description:</STRONG>Should be deleivered in good condition</P>
	<small class="pull-left"><strong>Posted on:</strong>12/12/2020</small>
	<small class="pull-right"><strong>updated on:</strong>12/12/2020</small>
	
</mat-card>



